{% block body %}
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/homepageStyle.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity "sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/validatemeetingStyle.css') }}">
</head>

<body>
	<div class="container">
  	<div class="well">
			<h2>Help Us Validate a Meeting <small><a href="./index">(Go back to Home)</a></small></h2>
			Information:
			<ul>
			  <li >If you see a time of meeting highlighted in the PDF, then select "yes". A form will come up with information about that meeting. Edit information if applicable</li>
			  <li >If you see no highlighted time or multiple time information highlighted then select "no"</li>
			  <li>To edit meeting information you can copy text from the highlighted info</li>
			  <li>You may need scroll up/down to find out day/time/address info for a meeting</li>
			</ul>
		</div>

		<div class="foriframe">
			<!--<iframe  src="{{ url_for('static', filename = htmlfilename)}}" onload="this.width=screen.width*0.8; this.height=screen.height*0.45;"></iframe> -->

			 <object data="{{ url_for('static', filename = htmlfilename)}}" type="application/pdf" width="100%" height="50%"> 
			  <p>It appears you don't have a PDF plugin for this browser.
			   No biggie... you can <a href="resume.pdf">click here to
			  download the PDF file.</a></p>  
			 </object>

		</div>
		<div class="row">
			<form method="post" action="/MeetingValidationFormReturn">
				<input type="hidden" name="mId" value={{m_id}}>
					Is this information about a meeting?<br>
				<input type="radio" name="yes" value="Yes">Yes<br>
				<input type="radio" name="yes" value="No">No<br>
				<div id="meetingdetails" style="display:none">
					<div class="form-group row">
						<label for="time" class="col-xs-2 col-form-label">Time</label>
						<div class="col-xs-10">
							<input type="text" class="form-control"  name="mTime" value="{{time}}">
						</div>
					</div>
					<div class="form-group row">
						<label for="day" class="col-xs-2 col-form-label">Day</label>
						<div class="col-xs-10">
							<!--<input type="text" class="form-control" name="mDay" value="{{day}}">-->
							<select id="daydropdown" name="mDay">
							  <option value="Sunday">Sunday</option>
							  <option value="Monday">Monday</option>
							  <option value="Tuesday">Tuesday</option>
							  <option value="Wednesday">Wednesday</option>
							  <option value="thursday">Thursday</option>
							  <option value="Friday">Friday</option>
							  <option value="Saturday">Saturday</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="address" class="col-xs-2 col-form-label">Address</label>
						<div class="col-xs-10">
							<textarea class="form-control" name="mAddress" value="{{address}}">{{address}}</textarea>
						</div>
					</div>

					<input hidden type="text" id="meetingid_custom" value="{{m_id}}" />
					<button type="submit" class="btn btn-primary pull-right" name="submit" value="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</body>

<script type=text/javascript>

$(function() {
	var algoday=String("{{day}}");
	if (!algoday || algoday==="")
		$("#daydropdown").val("Sunday");
	
	else if (algoday.toLowerCase().indexOf("sun")!==-1)
		$("#daydropdown").val("Sunday");
	else if (algoday.toLowerCase().indexOf("mon")!==-1)
		$("#daydropdown").val("Monday");
	else if (algoday.toLowerCase().indexOf("tue")!==-1)
		$("#daydropdown").val("Tuesday");
	else if (algoday.toLowerCase().indexOf("wed")!==-1)
		$("#daydropdown").val("Wednesday");
	else if (algoday.toLowerCase().indexOf("thu")!==-1)
		$("#daydropdown").val("Thursday");
	else if (algoday.toLowerCase().indexOf("fri")!==-1)
		$("#daydropdown").val("Friday");
	else if (algoday.toLowerCase().indexOf("sat")!==-1)
		$("#daydropdown").val("Saturday");
});

$("form input:radio").change(function (){
	console.log("change");
	if ($(this).val() === 'Yes') {
		$('#meetingdetails').show();
	} else if ($(this).val() === 'No') {
		console.log("no selected");
		$('#meetingdetails').hide();
		var mid = $('#meetingid_custom').val();
		if (mid != undefined && mid != null) {
			alert("Thank you for your contribution");
			window.location = '/MeetingValidationFormReturn?dropdownvalue=no&mId=' + mid;
			//console.log(mid);
		}
	}
});
</script>

{% endblock %}
